<!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light">Create /</span> Admin
            </h4>

            <div class="card mb-4">
              <div class="card-body">
                <form id="validation-form">
                  <div class="form-group">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id='createAdminName' placeholder="Name">
                    <small class="form-text text-muted">Enter admin name.</small>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="text" id='createAdminEmail' class="form-control" name="validation-email" placeholder="Email">
                    <small class="form-text text-muted">Enter admin email.</small>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" name='validation-password' id='createAdminPassword' class="form-control" name="validation-password" placeholder="Password">
                    <small class="form-text text-muted">Enter admin password.</small>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" id='createAdminPhone' name="validation-phone" placeholder="Phone: (999) 999-9999">
                    <small class="form-text text-muted">Enter admin phone number.</small>
                  </div>
                  <button type="button" id='createAdminButton' class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>

          </div>
          <!-- / Content -->

<script src="/assets/js/admin/createAdmin.js"></script>
