<!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light">Update /</span> Admin
            </h4>
            
            <span id='id' hidden>{{admin._id}}</span>

            <div class="card mb-4">
              <div class="card-body">
                <form id="validation-form">
                  <div class="form-group">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id='updateAdminName' placeholder="Name" value={{ admin.name }}>
                    <small class="form-text text-muted">Enter new name.</small>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="text" id='updateAdminEmail' class="form-control" name="validation-email" placeholder="Email" value={{ admin.email }}>
                    <small class="form-text text-muted">Enter new email address.</small>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" id='updateAdminPhone' name="validation-phone" placeholder="Phone: (999) 999-9999" value="{{ admin.phone }}">
                    <small class="form-text text-muted">Enter new phone number.</small>
                  </div>
                  <button type="button" id='updateAdminButton' class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>

          </div>
          <!-- / Content -->
<script src="/assets/js/admin/updateAdmin.js"></script>
