
<!-- Core scripts -->
  <script src="/assets/vendor/libs/popper/popper.js"></script>
  <script src="/assets/vendor/js/bootstrap.js"></script>
  <script src="/assets/vendor/js/sidenav.js"></script>

  <!-- Libs -->
  <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  {{!-- <script src="/assets/vendor/libs/datatables/datatables.js"></script> --}}
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

  <!-- Demo -->
  <script src="/assets/js/demo.js"></script>
  {{!-- <script src="/assets/js/dashboards_dashboard-1.js"></script> --}}

  <script src="/assets/js/admin/adminDatatable.js"></script>
  <script src="/assets/js/shopOwner/shopOwnerDatatable.js"></script>
  <script src="/assets/js/category/categoryDatatable.js"></script>

</body>

</html>