{{> head }}
<body>
  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-2">
    <div class="layout-inner">

      <!-- Layout sidenav -->
      {{> sidebar }}
      <!-- / Layout sidenav -->

      <!-- Layout container -->
      <div class="layout-container">
        <!-- Layout navbar -->
        {{> navbar }}
        <!-- / Layout navbar -->

        <!-- Layout content -->
        
        {{{ body }}}
        <!-- Layout content -->

      </div>
      <!-- / Layout container -->

    </div>
    

    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

{{> footer }}
