<!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light">Create /</span> Category
            </h4>

            <div class="card mb-4">
              <div class="card-body">
                <form id="validation-form">
                  <div class="form-group">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id='createCategoryName' placeholder="Name">
                    <small class="form-text text-muted">Enter the category name.</small>
                  </div>
                  <button type="button" id='createCategoryButton' class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>

          </div>
          <!-- / Content -->

<script src="/assets/js/category/createCategory.js"></script>
