<!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light">Edit /</span> Product
            </h4>

            <div class="card mb-4">
              <div class="card-body">
                <form id="validation-form">
                  <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" name="validation-email" placeholder="Email">
                    <small class="form-text text-muted">Example block-level help text here.</small>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="validation-password" placeholder="Password">
                    <small class="form-text text-muted">Example block-level help text here.</small>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Confirm password</label>
                    <input type="password" class="form-control" name="validation-password-confirmation" placeholder="Confirm password">
                  </div>
                  <div class="form-group">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" name="validation-phone" placeholder="Phone: (999) 999-9999">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>

          </div>
          <!-- / Content -->