<!-- Layout content -->
        <div class="layout-content">

          <!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">

            <div class="card">
              
              <hr class="border-light m-0">
              <div class="card-body">

                <h6 class="mt-4 mb-3">Shop Owner Information</h6>

                <span id='shopOwnerId' hidden>{{ shopOwner._id }}</span>
                
                <table class="table user-view-table m-0">
                  <tbody>
                    <tr>
                      <td>Name: </td>
                      <td>{{ shopOwner.name }}</td>
                    </tr>
                    <tr>
                      <td>Email: </td>
                      <td>{{ shopOwner.email }}</td>
                    </tr>
                    <tr>
                      <td>Phone: </td>
                      <td>{{ shopOwner.phone }}</td>
                    </tr>
                    <tr>
                      <td>Approval Status:</td>
                      {{#if shopOwner.isApproved}}
                        <td>Approved</td>
                      {{else}}
                        <td>Not Approved</td>
                      {{/if}}
                      
                    </tr>
                  </tbody>
                </table>

              </div>
              
            </div>
          </div>
          <!-- / Content -->

        </div>
        <!-- Layout content -->
